@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MbmStore</h2>
        <p>
            
This is the first of two mandatory assignments in backend programming that focus on the development of a website for MusicBookMovieStore.
The web site must present music-cd, book and movie catalogues for customers and enable online shopping.
In this assignment, you are supposed to build an early prototype with the basic domain classes. In the assignment, you must demonstrate that you are able to write and instantiate classes and display data objects inside an ASP.NET MVC web application.
At this stage of the development process, data are stored as non-persistent sample data inside the program itself, and there will be no administration part with HTML forms for data input and maintenance of music- cd, book and movie data.
The layout and design are not important in this assignment. In assignment two, we’ll focus more on design and add e-shop (“basket”) functionally.
The default view of the website – that loads when you run the project – must have links to the webpages that are part of the solution.
        </p>
    </div>
</div>